RewriteEngine on
#Запрещаем просмотр содержимого папки
#Options All —Indexes
# if a directory or a file exists, use it directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule . index.php

#Заглушка
#RewriteRule .*.(gif|jpg|png|css|js)$ [L]
RewriteCond %{REQUEST_URI} !^/close.html
RewriteRule . close.html