html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.footer p{
    margin:0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.logo img.logo-element{
    max-width:100%;
    max-height: 182px;
}

.logo-title{
    /*position: absolute; */
    float: right;
    /* display: block; */
    text-align: right;
    margin-left: -150px;
    width: 61%;
    font-family: serif;

}

.main{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: top;
}

.animation{
    width:100%;

    background: url(../images/tr.gif) no-repeat #fff;
    background-position: left top;
    background-size: 100% 183px;

}

.first-menu{
    clear: both;
}


.navbar.first-menu{

    margin-bottom: 0px;
    line-height:10px;
    max-height:40px;
}
.navbar.first-menu .navbar-brand{
    max-height:40px;
    line-height: 10px;
}
.navbar.first-menu .navbar-nav li a{
    line-height: 10px;
}
.navbar-nav li[class*=menu_] a{
    background-position: top;
    background-repeat: no-repeat;
    /*background-color: #fff;*/
    background-size: 80px auto;
    height: 80px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 90px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: 110px;
    background-size: 80px;
}

.navbar-nav li.menu_gory a{
    background-image: url(../images/menu_gory.png);
}

.navbar-nav li.menu_autobus a{
    background-image: url(../images/menu_autobus.png);;
}

.navbar-nav li.menu_goryaschie a{
    background-image: url(../images/menu_goryaschie.png);
}

.navbar-nav li.menu_hram a{
    background-image: url(../images/menu_hram.png);
}

.navbar-nav li.menu_kruiz a{
    background-image: url(../images/menu_kruiz.png);
}

.navbar-nav li.menu_plyag a{
    background-image: url(../images/menu_plyag.png);
}

.navbar-nav li.menu_russia a{
    background-image: url(../images/menu_russia.png);
}

.navbar-nav li.menu_schkola a{
    background-image: url(../images/menu_schkola.png);
}

.navbar-nav li.menu_zarubeg a{
    background-image: url(../images/menu_zarubeg.png);
}

.navbar-nav>li>a{
    font-weight: bold;
    color: #000000;
}

.color1{
    color: #008dd2;
}
.color2{
    color: #ef7f1b;
}
.color3{
    color: #009746;
}
.color4{
    color: #d71116;
}

.row {margin-top: 7px;margin-bottom:7px;}


/*Extends main bootstap framework*/
.filters{
    padding-bottom: 13px;
}
.filters .row{
    margin-top: 0;
    margin-bottom:0;
}
.filters .container-fluid .form-group{
    margin-bottom: 10px;
}
.filters .form-group .form-control{
    height: inherit;
    padding: 2px 0;
}

.filters .form-group label{
    margin: 0;

}

.link {
    color: #fff;
    text-decoration: none;
}
a.link:hover{
    color: #fff;
    text-decoration: none;
}
.pagination{
    clear: both;
    display: block;
}

.h1{
    font-size: 34px;
}


/*sprite with stars*/
#reviewStars label {
    background: url('../uploads/star24.png') no-repeat;
}

#reviewStars {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    //float: left;
}


#reviewStars label {
    background-position: 0 -21px;
    height: 21px;
    width: 22px;
    float: left;
    cursor: pointer;
    margin-right: 1px;
    z-index: 1;
    display:block;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 31px;
}
#reviewStars-input #star-2 {
    left: 62px;
}
#reviewStars-input #star-3 {
    left: 93px;
}
#reviewStars-input #star-4 {
    left: 124px;
}
#reviewStars-input #star-5 {
    left: 155px;
}

/*Высота шапки для гостиниц*/
.hotel-vhead{
    height: 120px;
    clear:both;
}

.hotel-vdesc{
    height: 70px;
    clear:both;
}

.hotel-vbut{
    height: 50px;
    clear:both;
}
